{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "plugins": [],
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
